* {
  @include box-sizing(border-box);
}

html {
  font: 15px/1.5 "Calibri", "Helvetica Neue", sans-serif;
  color: #252525;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background: #565656;
}

strong {
  font-weight: bold;
}

a {
  text-decoration: none;
}

.wrap {
  margin-top: 100px;
}

.left {
  float: left;
  width: 50%;
}

.right {
  float: right;
  width: 50%;
}

.inner {
  width: 960px;
  margin: 0px auto;
  overflow: hidden;
}

.main {
  background: #fff;
}

/* modals */
#simplemodal-overlay { 
  background-color: #808080; 
}
#simplemodal-container { 
  @include border-radius(8px);
  background-color: #fff; 
  border:8px solid #97bee1; 
  padding: 15px; 
}