$lato: 'Lato', sans-serif;
$crete: 'Crete Round', serif;

* {
  @include box-sizing(border-box);
}

html, body {
  width: 100%;
  height: 100%
}

html {
  font: 15px/1.5 $lato;
  color: #252525;;  
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background: #565656;
}

strong {
  font-weight: bold;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}


.wrap {
  position: relative;
}

.left {
  float: left;
  width: 50%;
  padding: 0px 50px 70px 50px;
  border-right: 11px solid #6693c1;
}

.right {
  float: right;
  width: 50%;
}

.inner {
  width: 1024px;
  margin: 0px auto;
  overflow: hidden;
}

.main {
  padding: 5px 0;
  background: #fff;
}

/* modals */
.modal {
  display: none;
}
#simplemodal-overlay { 
  background-color: #808080; 
}
#simplemodal-container { 
  @include border-radius(8px);
  background-color: #fff; 
  border:8px solid #97bee1; 
  padding: 40px; 
  h2 {
    text-transform: uppercase;
    font-size: 15px;
    font-family: $crete;
    font-weight: bold;
    color: #1d2051;
    margin-bottom: 0;
  }
  h3 {
    font-family: $lato;
    text-transform: uppercase;
    font-size: 13px;    
  }
  .modalClose {
    font-family: $crete;
    color: #272d64;
    position: absolute;
    right: 11px;
    top: 11px;
    font-weight: bold;    
    font-style: italic;
  }
}  