$proximaNova: 'proxima-nova', sans-serif;
$adelle: "adelle", serif;

* {
  @include box-sizing(border-box);
}

html, body {
  width: 100%;
  height: 100%
}

html {
  font: 15px/1.5 $proximaNova;
  color: #252525;;  
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background: #98BEE2;
}

strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}


.wrap {
  position: relative;
}

.left {
  float: left;
  width: 50%;
  padding: 0px 50px 70px 50px;
  border-right: 11px solid #6693c1;
  height: 594px;
}

.right {
  float: right;
  width: 50%;
}

.inner {
  width: 1024px;
  margin: 0px auto;
  overflow: hidden;
}

.main {
  padding: 5px 0;
  background: #fff;
  //   background-image: inline-image('main-bg.png');
  // background-repeat: no-repeat;
  // background-attachment:fixed;
}

/* modals */
.modal {
  display: none;
}
#simplemodal-overlay { 
  background-color: #242424;
}
#simplemodal-container { 
  @include border-radius(8px);
  background-color: #fff; 
  border:8px solid #97bee1; 
  padding: 20px; 
  h2 {
    text-transform: uppercase;
    font-size: 13px;
    font-family: $adelle;
    font-weight: 700;
    color: #1d2051;
    margin-bottom: 0;
  }
  h3 {
    font-family: $proximaNova;
    text-transform: uppercase;
    font-size: 13px;    
  }
  p {
    font-size: 12px;
    margin-bottom: 10px;
    &.largest {
      font-size: 16px;
    }
    &.larger {
      font-size: 14px;
      font-weight: bold;
      color: #1d2051;
    }
    &.sub {
      padding-top: 10px;
      font-size: 10px;
    }
    &.indent {
      padding-left: 20px;
    }
  }
  .rules-container {
    height: 265px;
    overflow-y: auto;
    margin-top: 10px;
    p {
      font-weight: normal;
    }
  }
  .centered {
    text-align: center;
  }
  .thanks {
    color: #0db301;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
  }
  .officialRules {
    color: #ff0000;
    font-size: 11px;
    margin: 15px 0;
  }
  .modalClose {
    font-family: $adelle;
    color: #272d64;
    position: absolute;
    right: 13px;
    top: 9px;
    font-weight: bold;    
    font-style: italic;
  }
  .social {
    text-align: center;
    margin-top: 20px;
    .sprite-twitter-icon, .sprite-facebook-icon {
        margin: 0px 5px;
        display: inline-block;
        width: sprite-sprite-width(facebook-icon);
        height: sprite-sprite-height(facebook-icon);
    }
  }
}  