.blog {
  background-image: inline-image('blog-body-bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  &.single {
    background-image: inline-image('blog-single-bg.png');
    background-position: top center;
  }
  .item {
    p {
      font-size: 12px;
      padding-top: 7px;
    }
  }
  .callToAction {
    margin-top: 0;
    font-size: 12px;
  }
  .left {
    width: 662px;
    height: 395px;
    padding: 40px 0px 70px 0px;
    margin-bottom: 110px;
    background: none;
  }
  .right {
    width: 338px;
    position: relative;
    background: none;

    .block {
      width: 331px;
    }
  }

  /* re-work the layout for single page */
  &.single {
    .left {
      width: 1024px;
      height: auto;
      padding-top: 0;
      border: none;
    }
    .right {
      margin-left: 20px;
      margin-bottom: 20px;      
      border-left: 11px solid #6693C1;
      height: 395px;      
      z-index: 200;
    }
    .text {
      width: auto;
    }
  }

  .blog-header {
    height: 201px;
    padding-left: 53px;
    .sprite-logo-blog {
      width: 315px;
      height: 147px;
      margin: 20px 0 0 0;
      float: left;
    }
    .right-side {
      float: left;
      width: 473px;
      margin-top: 24px;
      margin-left: 100px;
      .item {
        margin-bottom: 15px;
      }
    }
  }
}

/* reflection thing */
.sprite-reflection {
  width: 1500px;
  height: 395px;
  position: absolute;
  left: -11px;
}

/* other stories */
.moreTips {
  clear: both;
}
.otherStory {
  font-family: $adelle;
  color: #1d2051;
  font-size: 13px;
  float: left;
  width: 194px;
  text-align: center;
  &:hover {
    text-decoration: underline;
  }
  .container {

  }
  .innerPadding {
    padding: 15px;
  }
  h3 {
    text-align: center;
  }
}

article {
  margin-bottom: 30px;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  float: left;
  width: 305px;
  .image {
    float: left;
  }
  .text {
    float: left;
    width: 211px;
    margin-left: 10px;
  }
  h2 {
    font-family: $adelle;
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    a {
      color: #262d63;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .excerpt {
    font-size: 12px;
  }
  .meta {
    .sprite-facebook-small, .sprite-twitter-small {
      width: 13px;
      height: 12px;
      float: right;
      text-indent: -9999px;
      margin: 0px 2px;
    }
    &.single {
      width: 100%;
      display: block;
      float: left;      
      .sprite-facebook-small, .sprite-twitter-small {
        float: left;
      }      
    }
    .readMoreLink {
      color: #000;
      font-size: 11px;
      background-image: inline-image('link-arrows.png');
      background-repeat: no-repeat;
      padding-left: 10px;
      float: right;
      background-position: center left;
      margin-left: 10px;
      font-style: italic;
      &:hover {
        text-decoration: underline;
      }
    }
  }  
}

#article-sharing {
  background: #EFEFEF;
  border: 1px solid #DEDEDE;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 535px;
  padding: 5px 5px 0px;
  top: 25px;
  left: 7px;
  height: 35px;
}

#article-sharing ul li{display: inline;}

ul#social-share{ float: left; }
ul#article-tools{ float: right; width: 99px; }

/* single pages */
.article-content {
  .headerBar {
    overflow: hidden;
  }
  .socialBar {
    @include border-radius(5px);
    background: #ebebeb;
    border: 1px solid #dcdcdc;
    width: 540px;
    float: left;
    margin-top: 10px;    
    padding: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    .facebook, .twitter {
      float: left;
      margin-right: 10px;
    }
    .facebook {
      width: 118px;
      height: 19px;
    }
    .twitter {
      width: 77px;
      height: 19px;
    }
    .gplus {
      height: 19px;
    }
  }
  h2 {
    font-family: $adelle;
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: #1d2051;
  }
  .backLink {
    font-family: $adelle;
    color: #262D63;
    float: right;
    font-weight: 700;
    font-size: 14px;
    top: -24px;
    position: relative;
    right: -217px;
    &:hover {
      text-decoration: underline;
    }
  }  
  .content {
    margin-top: 10px; 
    padding-right: 30px;
    p {
      margin-bottom: 20px;
      font-size: 14px;
    }
  }
}
