footer {
	background: #98bee2;
	width: 100%;
	padding: 40px 0;
	color: #2d2929;
	.copyright {
		float: left;
		font-size: 11px;
	}
	.links {
		font-size: 13px;
		float: right;
		li {
			display: inline;
			float: left;
			text-align: right;
			padding-left: 10px;
		}
		a {
			text-transform: uppercase;
			font-weight: bold;
			color: #2c2828;
		}
	}
}