input {
  font-family: $proximaNova;
  font-size: 13px;
  border: 1px solid #97BEE1;
  padding: 2px;
  width: 177px;
  &[type=checkbox] {
    width: 20px;
    float: left;    
  }
  &.three-col {
    width: 90px;
  }
  &.two-col {
    width: 438px;
  }
  &.even {
    width: 170px;
  }
}

.error {
  border: 1px solid red;
  background: #fff2f5;
}

.radio {
  float: left;
  width: 55px;
  &.big {
    width: 75px;
  }
  input[type=radio] {
    width: 15px;
    position: relative;
    top: 5px; 
    float: left;
  }
  label {
    width: 20px;
    text-transform: none;
  } 
}

label {
  font-family: $adelle;
  text-transform: uppercase;
  font-size: 11px;
  color: #1D2051;
  text-align: right;
  float: left;
  width: 84px;
  font-weight: bold;
  padding-top: 7px;
  padding-right: 7px;  
}
.field {
  float: left;
  margin-bottom: 5px;
  &.two-col {
    width: 100%;
  }
}

.label {
  @extend label;
  width: 270px;
  text-align: left;
  span {
    font-family: $proximaNova;
    font-weight: normal;
  }
}

button {
  cursor: pointer;
  font-family: "adelle", serif;
  text-transform: uppercase;
  background: #97BEE1;
  padding: 7px 14px;
  color: #1D2051;
  font-weight: 700;
  border: none;
  float: left;
  position: relative;
  top: -9px;
  font-size: 13px;
}

.required {
  color: #ff0000;
  font-size: 11px;
}