h2 {
  margin-bottom: 24px;
}

.item {
  margin-bottom: 30px;
  height: 43px;
  font-size: 11px;
  p {
    padding-top: 5px;
  }
}
.callToAction {
  background-image: inline-image('link-arrows.png');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 12px;
  font-style: italic;
  float: right;
  text-align: right;
  color: #333;
  &:hover {
    text-decoration: underline;
  }
}

.sprite-logo {
  display: block;
  margin: 100px 0px 42px 0px;
  width: sprite-sprite-width(logo);
  height: sprite-sprite-height(logo);
}

.sprite-home-icon-1 {
  width: sprite-sprite-width(home-icon-1 );
  height: sprite-sprite-height(home-icon-1);
  float: left;
  margin-right: 8px;
}

.sprite-home-icon-2 {
  width: sprite-sprite-width(home-icon-2);
  height: sprite-sprite-height(home-icon-2);
  float: left;
  margin-right: 8px;
}

/* right side, blocks */
.block {
  width: 493px;
  height: 196px;
  margin-left: 3px;
  margin-bottom: 3px;

  h2 {
    color: #242A5E;
    font-family: $adelle;
    text-transform: uppercase;
    text-shadow: 0px 3px #C5C5D2;
    font-size: 18px;
    font-weight: 800;
    margin: 0;
    &.blog-title {
      line-height: 22px;
      text-transform: none;
      a {
        color: #242A5E;      
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  /* the right portion of the blocks */
  .sprite-block-details-background {
    float: left;
    width: 308px;
    height: 196px;
    padding: 14px 21px 14px 20px;
    position: relative;

    /* winner photo, other photo */
    img {
      float: left;
      margin-top: 13px;
    }

    /* little text blurb */
    .blurb {
      color: #1D2052;
      font-size: 12px;
      float: right;
      width: 139px;
      margin-top: 13px;
      line-height: 14px;
      margin-bottom: 9px;
    }

    /* blog excerpt */
    .excerpt {
      
    }

    /* buttons */
    .sprite-like-us-button, .sprite-follow-us-button, .sprite-tweet-now-button, .sprite-facebook-enter-now-button  {
      text-indent: -9999px;
      width: sprite-sprite-width(like-us-button);
      height: sprite-sprite-height(like-us-button);
      float: right;
    }

    

    /* position our call to actions in the bottom right, always */
    .callToAction {
      position: absolute;
      bottom: 20px;
      right: 25px;
      font-size: 12px;
    }
  }

  .dates {
    font-size: 12px;
    margin-top: -4px;
    color: #1D2052;
    font-weight: bold;    
  }

  .no-margin {
    margin-bottom: 0;
  }
  .sprite-green-border {
    float: left;
    width: sprite-sprite-width(green-border);
    height: sprite-sprite-height(green-border);
  }
  .prize {
    position: relative;
    float: left;
    width: 169px;
    height: 196px;
    padding: 12px 0px 0px 18px;
    background: #242a5e;
    img {
      position: absolute;
      bottom: 0;
      left: 23px;
    }
    .week {
      color: #fff;
      font-size: 17px;
    }
    .prize-name {
      color: #4fd0e7;
      font-weight: 900;
      margin-top: -5px;
      font-size: 18px;      
    }
  }

  .sprite-tweet-background {
    float: left;
    width: sprite-sprite-width(tweet-background);
    height: sprite-sprite-height(tweet-background);    
    padding: 30px 15px;
    .sprite-tweet-quote {
      width: sprite-sprite-width(tweet-quote);
      height: sprite-sprite-height(tweet-quote);  
      float: left;        
      margin: 0px 10px 10px 0px;
    }
    p {
      font-size: 12px;
      a {
        color: #6693c1;  
      }
    }
    .user {
      color: #6693c1;
      font-weight: bold;
      font-size: 12px;
      float: right;
      margin-top: 7px;
    }
    
  }
}