.item {
  margin: 20px 0;
}
.callToAction {
  font-style: italic;
  display: block;
  text-align: right;
  color: #333;
}

.logo {
  width: sprite-sprite-width(logo);
  height: sprite-sprite-height(logo);
}