h2 {
  margin-bottom: 24px;
}

.item {
  margin-bottom: 30px;
  height: 43px;
  font-size: 13px;
}
.callToAction {
  background-image: inline-image('link-arrows.png');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 12px;
  font-style: italic;
  float: right;
  text-align: right;
  color: #333;
  &:hover {
    text-decoration: underline;
  }
}

.sprite-logo {
  display: block;
  margin: 100px 0px 42px 0px;
  width: sprite-sprite-width(logo);
  height: sprite-sprite-height(logo);
}

.sprite-home-icon-1 {
  width: sprite-sprite-width(home-icon-1 );
  height: sprite-sprite-height(home-icon-1);
  float: left;
  margin-right: 8px;
}

.sprite-home-icon-2 {
  width: sprite-sprite-width(home-icon-2);
  height: sprite-sprite-height(home-icon-2);
  float: left;
  margin-right: 8px;
}

/* right side, blocks */
.block {
  width: 493px;
  height: 196px;
  margin-left: 3px;
  margin-bottom: 3px;
  .no-margin {
    margin-bottom: 0;
  }
  .sprite-green-border {
    float: left;
    width: sprite-sprite-width(green-border);
    height: sprite-sprite-height(green-border);
  }
  .prize {
    position: relative;
    float: left;
    width: 169px;
    height: 196px;
    padding: 12px 0px 0px 18px;
    background: #242a5e;
    img {
      position: absolute;
      bottom: 0;
      left: 23px;
    }
    .week {
      color: #fff;
      font-size: 17px;
    }
    .prize-name {
      color: #4fd0e7;
      font-weight: 900;
      margin-top: -5px;
      font-size: 18px;      
    }
  }
}