/* hide our tabs on load */
.tab { display: none; }
.tabs {
  background: #d5e5f3;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
  li {
    font-family: $adelle;
    font-weight: 400;
    font-size: 12px;
    display: inline-block;
    text-transform: uppercase;
    padding: 0px 5px;
    font-weight: bold;
    &.sep {
      font-weight: normal;
      font-size: 11px;
      vertical-align: text-top;
    }
    &.selected a {
      color: #fff;
    }
  }
  a {
    color: #262d63;
  }
}