/* line 17, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 106, sprite/*.png */
.sprite-sprite, .sprite-facebook-icon, .sprite-footer-logo, .sprite-github_logo, .sprite-green-border, .sprite-home-icon-1, .sprite-home-icon-2, .sprite-logo, .sprite-octocat, .sprite-twitter-icon {
  background: url('../images/sprite-s8cfd1040bb.png') no-repeat;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-facebook-icon {
  background-position: 0 -428px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-footer-logo {
  background-position: 0 -672px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-github_logo {
  background-position: 0 -498px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-green-border {
  background-position: 0 -790px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-home-icon-1 {
  background-position: 0 -747px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-home-icon-2 {
  background-position: 0 -704px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-logo {
  background-position: 0 0;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-octocat {
  background-position: 0 -184px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-twitter-icon {
  background-position: 0 -358px;
}

/* line 4, ../sass/includes/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../sass/includes/_base.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 13, ../sass/includes/_base.scss */
html {
  font: 15px/1.5 "Lato", sans-serif;
  color: #252525;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 21, ../sass/includes/_base.scss */
body {
  background: #565656;
}

/* line 25, ../sass/includes/_base.scss */
strong {
  font-weight: bold;
}

/* line 29, ../sass/includes/_base.scss */
a {
  text-decoration: none;
}

/* line 33, ../sass/includes/_base.scss */
h1, h2, h3, h4 {
  font-weight: bold;
}

/* line 37, ../sass/includes/_base.scss */
h2 {
  font-size: 18px;
  font-weight: bold;
}

/* line 43, ../sass/includes/_base.scss */
.wrap {
  position: relative;
}

/* line 47, ../sass/includes/_base.scss */
.left {
  float: left;
  width: 50%;
  padding: 0px 50px 70px 50px;
  border-right: 11px solid #6693c1;
}

/* line 54, ../sass/includes/_base.scss */
.right {
  float: right;
  width: 50%;
}

/* line 59, ../sass/includes/_base.scss */
.inner {
  width: 1024px;
  margin: 0px auto;
  overflow: hidden;
}

/* line 65, ../sass/includes/_base.scss */
.main {
  padding: 5px 0;
  background: #fff;
}

/* modals */
/* line 71, ../sass/includes/_base.scss */
.modal {
  display: none;
}

/* line 74, ../sass/includes/_base.scss */
#simplemodal-overlay {
  background-color: #808080;
}

/* line 77, ../sass/includes/_base.scss */
#simplemodal-container {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background-color: #fff;
  border: 8px solid #97bee1;
  padding: 40px;
}
/* line 82, ../sass/includes/_base.scss */
#simplemodal-container .modalClose {
  position: absolute;
  right: 20px;
  top: 20px;
  font-weight: bold;
}

/* line 1, ../sass/includes/_home.scss */
h2 {
  margin-bottom: 24px;
}

/* line 5, ../sass/includes/_home.scss */
.item {
  margin-bottom: 30px;
  height: 43px;
  font-size: 13px;
}

/* line 10, ../sass/includes/_home.scss */
.callToAction {
  font-style: italic;
  display: block;
  text-align: right;
  color: #333;
}

/* line 17, ../sass/includes/_home.scss */
.sprite-logo {
  margin: 100px 0px 42px 0px;
  width: 395px;
  height: 184px;
}

/* line 23, ../sass/includes/_home.scss */
.sprite-home-icon-1 {
  width: 44px;
  height: 43px;
  float: left;
  margin-right: 8px;
}

/* line 30, ../sass/includes/_home.scss */
.sprite-home-icon-2 {
  width: 44px;
  height: 43px;
  float: left;
  margin-right: 8px;
}

/* line 1, ../sass/includes/_footer.scss */
footer {
  background: #98bee2;
  width: 100%;
  padding: 40px 0;
  color: #2d2929;
}
/* line 6, ../sass/includes/_footer.scss */
footer .sprite-footer-logo {
  width: 115px;
  height: 32px;
  float: left;
  margin-right: 24px;
}
/* line 12, ../sass/includes/_footer.scss */
footer .copyright {
  float: left;
  font-size: 11px;
  width: 440px;
}
/* line 17, ../sass/includes/_footer.scss */
footer .links {
  font-size: 13px;
  float: right;
}
/* line 20, ../sass/includes/_footer.scss */
footer .links li {
  display: inline;
  float: left;
  text-align: right;
  padding-left: 10px;
}
/* line 26, ../sass/includes/_footer.scss */
footer .links a {
  text-transform: uppercase;
  font-weight: bold;
  color: #2c2828;
  font-weight: 900;
}

/* hide our tabs on load */
/* line 2, ../sass/includes/_rules.scss */
.tab {
  display: none;
}

/* line 3, ../sass/includes/_rules.scss */
.tabs {
  background: #d5e5f3;
  padding: 5px;
  text-align: center;
}
/* line 7, ../sass/includes/_rules.scss */
.tabs li {
  display: inline-block;
  text-transform: uppercase;
  padding: 0px 5px;
  font-weight: bold;
}
/* line 12, ../sass/includes/_rules.scss */
.tabs li.sep {
  font-weight: normal;
  font-size: 11px;
  vertical-align: text-top;
}
/* line 17, ../sass/includes/_rules.scss */
.tabs li.selected a {
  color: #fff;
}
/* line 21, ../sass/includes/_rules.scss */
.tabs a {
  color: #262d63;
}
